//@font-face {
//  font-family: Recursive;
//  src: url(assets/font/Recursive-VariableFont_CASL,CRSV,MONO,slnt,wght.ttf);
//}
@font-face {
  font-family: Be Vietnam Pro;
  font-weight: normal;
  font-variant-alternates: styleset(ss01);
  src: url(assets/font/BeVietnamPro-Regular.ttf);
}

@font-face {
  font-family: Be Vietnam Pro;
  font-weight: bold;
  font-variant-alternates: styleset(ss01);
  src: url(assets/font/BeVietnamPro-Bold.ttf);
}

@font-face {
  font-family: Be Vietnam Pro;
  font-weight: 1000;
  font-variant-alternates: ss01;
  src: url(assets/font/BeVietnamPro-Black.ttf);
}

// assets/font/Recursive-VariableFont_CASL,CRSV,MONO,slnt,wght.ttf

@Primary: #0055ff;
@PrimaryAlt: #2020DF;
@PrimaryLight: #C2D6FF;
@Surface2: #D6E4FF;
@Surface: #E5EEFF;
@Background: #ffffff;
@OverlayBackground: #00000040;
@Outline: #80808040;
@Disable: #a0a0a0;
@Motion: 0.3s cubic-bezier(0.25, 0.75, 0.5, 1);
@MotionAlt: 0.75s cubic-bezier(0.125, 1, 0.125, 1);
@MotionAltMobile: 0.75s cubic-bezier(.05, 1, .05, 1);
@MotionPressed: 0.3s cubic-bezier(0.125, 1, 0.125, 1);
@MotionOut: 0.1s cubic-bezier(.25, 0, .75, .25);
@MotionBounce: 0.5s cubic-bezier(.3, 1.5, .45, 1);
@Shadow: 0px 8px 24px -8px rgba(0, 0, 0, 0.25);
@ShadowAlt: 0px -8px 16px -8px rgba(0, 0, 0, 0.25);

@AFocus: #00f;
@APressed: #f0f;

html {
  font-size: 15px;
}

//@TextXL: 31px;
//@TextL: 17px;
//@Text: 15px;
//@TextS: 13px;

@TextXL: 2rem;
@TextL: 1.5rem;
@TextX: 1.25rem;
@Text: 1rem;
@TextS: 0.8rem;

@Font: Be Vietnam Pro, sans-serif, serif;

//Recursive

@MediaMobile: 500px;
@MediaHeight: 400px;
@MediaHeightAlt: 600px;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
  line-height: normal;
  //font-variant-numeric: lining-nums proportional-nums;
  //font-feature-settings: "ss02" on, "ss08" on, "ss11" on, "ss09" on;
  font-family: @Font;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  text-rendering: optimizeSpeed;
  touch-action: manipulation;
  //font-smooth: never;
  //-webkit-font-smoothing : none;
  animation-delay: 0s;
}

//html {
//   color-scheme: dark light;
//}

body {
  min-height: 100vh;
  max-width: 100vw;
  font-size: @Text;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  background: @Background;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

#wrapper {
  width: 100%;
  height: 100vh;

  @media only screen and (max-width: @MediaMobile) {
    height: calc(100vh - 80px);
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  display: flex;

  @media only screen and (max-width: @MediaMobile) {
    flex-direction: column;
  }

  flex-direction: row;
  //overflow: hidden;
}

//.main-content {
//  display: none;
//  flex-direction: column;
//  width: 100%;
//  height: 100dvh;
//  overflow: hidden;
//  //@media only screen and (max-width: @MediaMobile) {
//  //  padding: 0;
//  //}
//  //padding: 0;
//  animation: pageIn @MotionAlt forwards;
//}

.main-content {
  display: block;
  width: 100%;
  height: 100dvh;
  overflow: hidden;

  @media only screen and (max-width: @MediaMobile) {
    padding: 0 0 0 0 !important;
  }

  @media only screen and (max-width: 800px) {
    padding: 0 0 0 124px;
  }

  padding: 0 16% 0 calc(124px + 16%);
}

main {
  //outline: red solid 1px;
  width: 100%;
  height: 100vh;
  margin: 0 0;

  @media only screen and (max-width: @MediaMobile) {
    width: 100vw;
    padding: 0 20px 128px;
  }

  padding: 0 20px 128px;
  display: none;
  gap: 20px;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
  z-index: 1;
}

nav {
  position: fixed;

  @media only screen and (max-width: @MediaMobile) {
    position: fixed;
    width: 100vw;
    min-width: none;
    max-width: 100vw;
    height: 80px;
    padding: 0 6vw;
    align-items: center;
    flex-direction: row;
    bottom: 0;

    button {
      width: 100%;
      min-width: 60px;
      height: 80px !important;
    }

    #icon,
    #ui-more {
      display: none;
    }

    //overflow-x: auto;
  }

  @media only screen and (max-height: @MediaHeight) and (max-width: @MediaMobile) {
    display: none;
    background: red;
  }

  @media only screen and (max-height: @MediaHeight) {
    padding: 8px 32px 16px;

    #icon {
      display: none;
    }
  }

  .lay-g-d {
    width: 100%;
  }

  padding: 26px 0;
  width: 124px;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background: @Background;
  z-index: 2;

  #ui-more {
    border-radius: 24px;
    margin: 0 9px;
  }

  #icon {
    margin: 0 18px;
    min-width: 24px;
  }

  button {
    width: 100%;
    height: 48px;
    background: @Background;
    border-radius: 0;
    padding: 0;

    &:hover {
      background: @Background;

      span {
        padding: 0px 20px;
        background: darken((@Background), 8%);
      }
    }

    &.is-open {
      &:hover {
        span {
          background: darken((@PrimaryLight), 8%);
        }
      }

      span {
        padding: 0px 20px;
        background: @PrimaryLight;
      }
    }

    span {
      label {
        //display: none;
        margin: 3px 0 0;
        visibility: hidden;
        width: 0px;
        opacity: 0;
        text-wrap: nowrap;
        overflow: hidden;
        text-align: left;
        margin-left: 0px;
        transition: @MotionAlt;
        transition-delay: .25s;
      }

      img {
        min-width: 20px;
      }

      display: flex;
      height: 36px;
      padding: 0px 8px;
      border-radius: 24px;
      justify-content: center;
      align-items: center;
      background: @Background;
      transition: @MotionAlt;
    }
  }
}

header {
  display: flex;
  width: calc(100% + 40px);
  margin: 0 -20px;
  padding: 0 20px;
  min-height: 80px;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background: @Background;
  z-index: 2;
  margin-bottom: -20px;

  @media only screen and (max-height: @MediaHeight) {
    position: relative;
    min-height: 60px;
  }
}

button {
  border: 0;
  display: flex;
  height: 42px;
  min-height: 42px;
  padding: 0px 16px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 24px;
  font-weight: bold;
  font-size: @Text;
  background: @PrimaryLight;
  cursor: pointer;

  * {
    cursor: pointer;
  }

  &:hover {
    background: darken((@PrimaryLight), 5);
  }

  &:active {
    transform: scale(0.975);
    transition: @MotionPressed;
  }

  &:disabled {
    background: @Disable;
    cursor: not-allowed;
  }

  &:focus-visible {
    outline: 4px solid @AFocus;
    border-radius: 8px;
    transition: 0s;
    z-index: 1;

    &:active {
      outline: 4px solid @APressed;
    }
  }

  // nút hình tròn
  &.small {
    width: 42px;
    height: 42px;
    padding: 0px;
    background: @Background;
    box-shadow: 0 0 0 8px @Background inset;

    &:hover {
      background: darken((@Background), 8%);
      box-shadow: 0 0 0 0px @Background inset;
    }
  }

  // nút phẳng
  &.flat {
    margin: 0 -16px;
    background: @Background;
    box-shadow: 0 0 0 8px @Background inset;

    &:hover {
      background: darken((@Background), 8%);
      box-shadow: 0 0 0 0px @Background inset;
    }
  }

  // nút to
  &.big {
    height: fit-content;
    //min-width: 120px;
    //max-width: 200px;
    flex-grow: 1;
    padding: 20px 16px;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 16px;
    border-radius: 16px;
    background: @Surface;

    &:hover {
      background: @PrimaryLight;
    }

    //transition: @Motion;
  }

  &.panel {
    height: fit-content;
    flex-grow: 1;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 16px;
    border-radius: 16px;
    background: @Surface;
    font-weight: unset;

    &:hover {
      background: @PrimaryLight;
    }

    //transition: @Motion;
  }

  &.float {
    position: sticky;
    z-index: 2;
    top: calc(100dvh - 64px - 48px);
    left: 100%;
    margin-right: 20px;
    margin-bottom: -88px;
    border-radius: 20px;
    box-shadow: @Shadow;
    background: @PrimaryLight;
    min-width: 64px;
    width: fit-content;
    min-height: 64px;
    gap: 16px;
    padding: 22px;

    @media only screen and (max-width: @MediaMobile) {
      label {
        display: none;
      }

      top: calc(100vh - 64px - 48px - 80px);
    }

    @media only screen and (max-height: @MediaHeight) {
      margin-bottom: -72px;
      top: calc(100vh - 64px - 24px);
    }
  }

  img {
    width: 20px;
    height: 20px;
    user-select: none;
    user-zoom: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
  }

  transition: @MotionAlt;
}

input {
  display: flex;
  padding: 16px;
  height: 52px;
  min-height: 52px;
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
  //align-self: stretch;
  border-radius: 16px;
  font-size: @Text;
  box-shadow: 0 0 0 2px @PrimaryLight inset;
  border: 0;
  margin: 0 -4px 24px;

  &:hover {
    box-shadow: 0 0 0 3px @PrimaryLight inset;
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 3px @Primary inset;
  }

  transition: @Motion;
}

textarea {
  display: flex;
  padding: 16px;
  min-height: 52px;
  max-height: 256px;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  border-radius: 16px 16px 8px 16px;
  font-size: @Text;
  box-shadow: 0 0 0 2px @PrimaryLight inset;
  border: 0;
  margin: 0 -4px 24px;

  &:hover {
    box-shadow: 0 0 0 3px @PrimaryLight inset;
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 3px @Primary inset;
  }

  transition: @Motion,
  height 0s;
  resize: vertical;

  &::-webkit-resizer {
    background-image: url("assets/other/rz.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

select {
  appearance: none;
  display: flex;
  padding: 0 16px;
  z-index: 1;
  width: 160px;
  height: 42px;
  min-height: 42px;
  background: @Background;
  //align-items: left;
  //justify-content: flex-start;
  gap: 20px;
  border-radius: 21px;
  box-shadow: 0 0 0 2px @PrimaryLight inset;
  border: 0;

  &:hover {
    box-shadow: 0 0 0 3px @PrimaryLight inset;
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 3px @Primary inset;
  }

  // mũi tên

  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
  linear-gradient(135deg, gray 50%, transparent 50%);
  background-position: calc(100% - 19.9px) 19px,
  calc(100% - 15.1px) 19px,
  calc(100% - .5em) .5em;
  background-size: 5px 5px,
  5px 5px,
  1.5em 1.5em;
  background-repeat: no-repeat;

  &:focus {
    background-image:
      linear-gradient(45deg, gray 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, gray 50%);
    background-position:
      calc(100% - 15.1px) 19px,
      calc(100% - 19.9px) 19px,
      calc(100% - .5em) .5em;
    background-size:
      5px 5px,
      5px 5px,
      1.5em 1.5em;
    background-repeat: no-repeat;
  }

  transition: box-shadow @MotionAlt;

  &::-ms-expand {
    display: none;
  }
}

#overlay {
  visibility: hidden;
  //opacity: 0;
  display: flex; //flex
  position: fixed;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  max-width: 100vw;
  min-width: 100vw;
  max-height: 100vh;
  min-height: 100vh;
  z-index: 10;
  background: transparent;

  @media only screen and (max-width: @MediaMobile) {
    display: block; //block
    //overflow-y: scroll;
    overflow: hidden;
    transition: @MotionAlt;
  }

  &.open-overlay {
    visibility: visible;
    opacity: 1;
    pointer-events: unset;
    background: @OverlayBackground;
  }

  transition: @MotionAlt;
  pointer-events: none;
}

.overlay {
  position: absolute;

  &.open-overlay {
    position: unset;
    visibility: visible;
    opacity: 1;
    scale: 1;
    transform: translateX(0px);
    transition: @MotionAltMobile;
    //filter: blur(0px);
    //@media only screen and (max-width: @MediaMobile) {
    //  transition: @MotionAltMobile;
    //}
  }

  @media only screen and (max-width: @MediaMobile) {
    //margin-top: 128px;
    max-width: 100%;
    min-width: 100%;
    min-height: 100vh;
    max-height: unset;
    // box-shadow: @ShadowAlt;
    border-radius: 0;
    scale: 1;
    transform: translateY(100vh);
    opacity: 1;
  }

  @media only screen and (max-height: @MediaHeightAlt) {
    height: 100vh;
    max-height: unset;
    border-radius: 0;
  }

  visibility: hidden;
  display: flex;
  opacity: 0;
  scale: 0.8;
  //width: 480px;
  transition: @MotionOut;
  flex-direction: column;
  box-shadow: @Shadow;
  background: @Background;
  //filter: blur(32px);
  //min-height: 640px;
  height: 80dvh;
  max-height: 720px;
  border-radius: 24px;
  overflow: hidden;

  header {
    position: sticky;
    margin: 0 auto;
    width: 480px;

    @media only screen and (max-height: @MediaHeight) {
      width: 100%;
      padding: 0 20px;
      margin-bottom: 8px;
    }

    @media only screen and (max-width: @MediaMobile) {
      width: 100%;
      padding: 0 20px;
    }

    h1 {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  ;
}

.overlay-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 20px 20px;
  width: 480px;
  height: 100%;
  background: @Background;
  overflow-y: scroll;

  @media only screen and (max-width: @MediaMobile) {
    padding: 0 20px 20px;
    width: 100%;
  }

  h2 {
    margin-bottom: .5rem;
  }
}

.content {
  padding: 20px;
  height: 100%;
  max-height: 100%;
  background: @Surface;
  gap: 20px;
  overflow-y: scroll;
  @media only screen and (max-width: @MediaMobile) {
    margin: 0 -20px;
    width: calc(100% + 40px);
    border-radius: 24px;
  }
  margin: 0;
  width: 100%;
  border-radius: 16px;
}

form {
  width: 100%;
}

h1 {
  font-size: @TextXL;
  margin-block-start: 0;
  margin-block-end: 0;
  font-weight: 1000;
}

h2 {
  font-size: @TextL;
  margin-block-start: 0;
  margin-block-end: 0;
  font-style: normal;
  font-weight: bold;
  line-height: calc(@TextL * 1.25);
}

h3 {
  font-size: @TextX;
  margin-block-start: 0;
  margin-block-end: 0;
  font-style: normal;
  font-weight: bold;
  line-height: 20px;
}

p {
  font-weight: normal;
  font-size: @Text;
}

.subtitle {
  color: #000000a3;
  font-weight: bold;
  text-transform: uppercase;
}

label {
  font-weight: bold;
  font-size: @Text;
  margin: 0 0 0px 0px;
}

a {
  font-weight: bold;
  font-size: @Text;
}

.icon {
  width: 32px;
  height: 32px;
}

hr {
  height: 2px;
  border: 0;
  background: @Outline;
  border-radius: 2px;
  transition: 0;
}

.date-divider {
  padding: 16px 8px 8px;
}

// các widget (kiểu thế) ----------------------------------------------------------------------------

//#panel-wrapper {
//  display: grid;
//  grid-template-rows: repeat(2fr);
//  gap: 16px;
//  grid-auto-flow: column;
//  grid-auto-columns: auto;
//  //grid-auto-flow: dense;
//}

article {
  display: flex;
  padding: 20px 16px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  border-radius: 16px;
  background: @Surface;
}

.panel {
  display: inline-flex;
  min-width: 152px; //152px
  max-width: 200px;
  width: 32%;
  min-height: 200px;
  max-height: 200px;
  padding: 16px;
  flex-direction: column;
  justify-content: flex-start;
  //gap: 16px;
  border-radius: 16px;
  background: @Surface;

  h1 {
    margin-block-start: -0.3em;
    margin-block-end: -0.2em;
  }

  h2 {
    margin-block-start: -0.3em;
    margin-block-end: -0.2em;
    width: 100%;
    //white-space: nowrap;
    overflow-y: auto;
    //text-overflow: ellipsis;
  }

  &.alt {
    padding: 8px;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow-y: scroll;
      border-radius: 8px;
      width: 100%;
      height: 100%;
    }

    li {
      border-radius: 8px;
      padding: 10px 12px;
      background: @Background;
      margin-bottom: 8px;
      white-space: wrap;
      overflow: hidden;
      display: -webkit-box;
      /* display 2 lines only */
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    li:last-of-type {
      opacity: 0.5;
      margin-bottom: 0;
    }
  }
}

// cái này là kiểu mấy cái div--------------------------------------------------------------
// nhưng mà dùng flexbox để t làm
// nó giống cái auto layout trong figma

.lay-g-h {
  // layout group horizontal
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.lay-g-h-alt {
  // layout group horizontal
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.lay-g-v {
  // layout group vertical
  //height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
}

.lay-g-v {
  // layout group vertical alternative
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
}

.lay-g-h-f {
  // layout group horizontal fill
  width: 100%;
  display: flex;
  flex-direction: row;
  //justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.lay-g-h-f-alt {
  // layout group horizontal fill alternative
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.lay-grid-f-h {
  // layout grid fill horizontal
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 16px;
}

.lay-grid-h {
  // layout grid horizontal
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  grid-template-rows: auto;
  gap: 16px;
}

//#panel-wrapper {
//  width: 100%;
//  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
//  @media only screen and (max-height: @MediaMobile) {
//    min-height: 240px;
//    max-height: 480px !important;
//    overflow-y: scroll;
//  }
//}

.lay-snap-h {
  // layout snap horizontal
  display: block;
  scroll-snap-type: both proximity;
  width: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  min-height: 200px;

  .panel {
    scroll-snap-align: start;
    //display: inline-flex;
    margin-right: 12px;
  }

  border-radius: 16px;
}

.lay-g-d {
  // layout group dynamic (tức là tuỳ vào đang chế độ mobile hay desktop để chỉnh layout)
  display: flex;

  @media only screen and (max-width: @MediaMobile) {
    width: 100%;
    flex-direction: row;
  }

  flex-direction: column;
}

.lay-g-d-alt {
  // layout group dynamic alt (vẫn thế nhưng khác chiều)
  display: flex;

  @media only screen and (max-width: @MediaMobile) {
    width: 100%;
    flex-direction: column;
  }

  flex-direction: row;
}

// CUSTOM ATTRIBUTE

[data-thongbao-uutien="0"] {
  background: @Surface;
}

[data-thongbao-uutien="1"] {
  background: @PrimaryLight;
}

[data-thongbao-uutien="2"] {
  background: #FF8080;
}


// LINH TINH

// chuyển động

@keyframes zoomIn {
  0% {
    transform: scale(1) translateX(64px);
    opacity: 0;
  }

  100% {
    transform: scale(1) translateX(0px);
    opacity: 1;
  }
}

// chuyển cảnh trang

.page-out {
  animation: pageOut 0.25s cubic-bezier(0.5, 0, 0.75, 0.25) forwards;
  //display: none;
}

.page-in {
  animation: pageIn @MotionAlt forwards;
  display: flex;
}

@keyframes pageIn {
  0% {
    //transform-origin: top;
    //transform: scale(1.05);
    transform: scale(1) translateY(16px);
    opacity: 01;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes pageOut {
  to {
    transform: scale(0.9);
    opacity: 0;
  }

  100% {
    display: none;
  }
}

// loader

#loader {
  border: 2px solid transparent;
  border-radius: 50%;
  border-top: 2px solid #000;
  width: 16px;
  height: 16px;
  margin: 4px;
  -webkit-animation: ui-loader 0.75s linear infinite;
  /* Safari */
  animation: ui-loader 0.75s linear infinite;
}

.loader {
  position: fixed;
  top: calc(50% - 19px);
  left: calc(50% - 19px);
  width: 32px !important;
  height: 32px !important;
  border: 3px solid transparent !important;
  border-top: 3px solid #000 !important;
  z-index: 0;
}

/* Safari */
@-webkit-keyframes ui-loader {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes ui-loader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

// dropdown

.dropdown-wrapper {
  position: relative;
  display: inline-block;
  width: fit-content;
}

.dropdown-content {
  position: absolute;
  background: @Background;
  min-width: 164px;
  width: fit-content;
  padding: 6px;
  //display: flex;
  flex-direction: column;
  border-radius: 16px;
  border: 2px solid @Outline;
  overflow: auto;
  z-index: 2;

  button {
    padding: 10px 12px;
    height: fit-content;
    width: 100%;
    background: @Background;
    text-align: left;
    justify-content: flex-start;
    gap: 16px;
    border-radius: 8px;
    line-height: normal;

    &:hover {
      background: darken(@Background, 8%);
    }
  }

  &.up {
    bottom: 42px;

    &.right {
      left: 42px;
      bottom: 0;
      transform-origin: left bottom;
    }

    &.left {
      right: 42px;
      transform-origin: right bottom;
    }
  }

  &.right {
    left: 42px;
    transform-origin: left;
  }

  &.left {
    right: 0;
    transform-origin: top right;
  }

  &.prefix {
    margin-left: 8px;
  }

  //box-shadow: @Shadow;

  visibility: hidden;
  opacity: -1;
  transform: scale(0.75);
  transition: @MotionOut all;
}

.show-dropdown {
  //animation: zoomIn @MotionAlt 0s forwards;
  //display: flex;
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transition: @MotionAlt all;
}

.show-block {
  display: block;
}

// scrollbar

/* width */
::-webkit-scrollbar {
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: @Background;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: @Surface;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: @PrimaryLight;
}

// nút reload khi ấn nó quay vòng vòng

.reloadspin {
  animation: reloadspin 1s cubic-bezier(0.25, 0.75, 0.5, 1) forwards;
}

@keyframes reloadspin {
  0% {
    transform: rotate(0deg);
  }

  50% {
    border-radius: 21px;
  }

  100% {
    transform: rotate(360deg*2);
  }
}

// khoe điểm

.tile {
  background: @Background;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px 0;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

/* nav nhưng mà có tính năng mở rộng khi di chuột lên

nav {
  //position: fixed;
  @media only screen and (max-width: @MediaMobile) {
    position: fixed;
    width: 100vw;
    min-width: none;
    max-width: 100vw;
    height: 80px;
    padding: 0 6vw;
    align-items: center;
    flex-direction: row;
    bottom: 0;
    button {
      width: 100%;
      min-width: 60px;
      height: 80px !important;
    }
    #icon,
    #ui-more {
      display: none;
    }
    //overflow-x: auto;
  }
  @media only screen and (min-width: @MediaMobile) {
    &:hover {
      align-items: flex-start;
      background: @Background;
      label {
        width: 100px;
        visibility: visible;
        opacity: 1;
        margin-left: 16px;
      }
      span {
        justify-content: left;
        padding: 0px 20px;
        transition: padding 0s, background @MotionAlt, width @MotionAlt;
      }
    }
  }
  
  padding: 26px 32px;
  //min-width: 90px;
  //max-width: 132px;
  height: 100dvh;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  background: @Background;
  z-index: 2;
  #ui-more {
    border-radius: 24px;
    margin: 0 9px;
  }
  #icon {
    margin: 0 18px;
    min-width: 24px;
  }
  button {
    width: 100%;
    height: 48px;
    background: @Background;
    border-radius: 0;
    padding: 0;
    &:hover {
      background: @Background;
      span {
        padding: 0px 20px;
        background: darken((@Background), 8%);
      }
    }
    &.is-open {
      &:hover {
        span {
          background: darken((@PrimaryLight), 8%);
        }
      }
      span {
        padding: 0px 20px;
        background: @PrimaryLight;
      }
    }
    span {
      label {
        //display: none;
        margin: 3px 0 0;
        visibility: hidden;
        width: 0px;
        opacity: 0;
        text-wrap: nowrap;
        overflow: hidden;
        text-align: left;
        margin-left: 0px;
        transition: @MotionAlt;
        transition-delay: .25s;
      }
      img {
        min-width: 20px;
      }
      display: flex;
      height: 36px;
      padding: 0px 8px;
      border-radius: 24px;
      justify-content: center;
      align-items: center;
      background: @Background;
      transition: @MotionAlt;
    }
  }
}

*/